body {
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: #303136;
 color: whitesmoke;
}

img {
  width: 450px;
  padding: 10px;
}

.main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: #eb9180;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  color: #f8dcb8;
}

li {
  font-family: Helvetica, Arial, sans-serif;
}

.header li{
  display: inline;
  padding: 20px;
}

li a {
  text-align: center;
}

.projects {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 480px;
}

.column {
  float: left;
  margin: 0;
  width: 480px;
  padding: 20px;
}

.projects li {
  max-width: 400px;
  border: 4px black solid;
  padding: 20px;
  margin: 5px;
}

.projects ul {
  list-style-type: none;
}